{% extends "layout.html" %}
{% load static %}
{% block title %}
{{expert.lastName}}
{% endblock %}

{% block css %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/expertProfile.css' %}"/>
{% endblock %}

{% block body %}

    <h1>View Expert</h1>

    <ul>
        <div class="card" style="width: 80%;">
        <div class="card-body">
            <p class="card-text">
                <img class="expertPicture" src="{{ expert.avatar.url }}" width=120 height=120 alt="Expert profile picture">
                    <span class="card-text"><a href= {{ expert.gitRepo }} >
                        <img class="socialMedia" src="{% static 'images/github.png' %}" alt="Github icon">
                    </a></span>
                <br>
                    <span class="card-text"><a href= {{ expert.linkedIn }} >
                        <img class="socialMedia" src="{% static 'images/in.png' %}" alt="LinkedIn icon">
                    </a></span>
                <br>
                    <span class="card-text"><a href= {{ expert.twitter }}>
                        <img class="socialMedia" src="{% static 'images/twitter.png' %}" alt="Twitter icon">
                    </a></span>
                <br>
                    <span class="card-text"><a href= "mailto:"{{ expert.email }}>
                        <img class="socialMedia" src="{% static 'images/email.png' %}" alt="Email icon">
                    </a></span>
                </p>

           <h6 class="card-subtitle mb-2 text-muted">{{ expert.firstName}} {{ expert.lastName }}</h6>

            <div class="card" style="width: 80%;">
            <h5 class="card-title">Organization</h5>
           <h6 class="card-subtitle mb-2 text-muted">{{ expert.organization }}</h6>
            <h5 class="card-title">Tech Skills</h5>
           <h6 class="card-subtitle mb-2 text-muted">{{ expert.techSkills }}</h6>
            <h5 class="card-title">Course Work</h5>
           <h6 class="card-subtitle mb-2 text-muted">{{ expert.courseWork }}</h6>
            <br>
            </div>
            <a href="{% url 'expertFinder:edit' expert.id %}" class="btn btn-primary">Edit</a>
    </div>
</ul>

{% endblock %}
