{% extends "layout.html" %}
{% load static %}
{% block title %}
Find Expert
{% endblock %}

{% block body %}
    <h1 class="headerCenter"><img id="logoImage" src="{% static 'images/logo.png' %}" alt="My image"></h1>
    <style>
.center {
  position: absolute;
  right: 200px;
  width: 700px;
  border: 3px solid black;
  padding: 10px 0;
  text-align: center;
}
.headerCenter {
  line-height: 250px;
  height: 250px;
  margin-left: 200px;

  text-align: center;
}
</style>
    <ul class="center">
        <form action="{% url 'expertFinder:search_results' %}" method="POST" class="post-form">
            {% csrf_token %}
            <div>{{ form.as_p }}</div>
            <button type="submit" class="save btn btn-default">Search</button>
        </form>
    </ul>

{% endblock %}