{% extends "layout.html" %}
{% load static %}
{% block title %}
Find Expert
{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/search.css' %}"/>
{% endblock %}

{% block body %}
    <h1 class="headerCenter"><img id="mainLogo" src="{% static 'images/logo.png' %}" alt="Logo Image"></h1>
    <div class="center">
        <form action="{% url 'expertFinder:search_results' %}" method="POST" class="post-form">
            {% csrf_token %}
            <div>{{ form.as_p }}</div>
            <button type="submit" class="save btn btn-default" id="searchButton">Search</button>
        </form>
    </div>

{% endblock %}