.socialMedia{

    height: 25px;
    width: 25px;

}

.card-body{
    padding: 10px;
}

#searchBody{
    padding:20px;
          min-width: 900px;

}

.expertPicture{
    border-radius: 50%;
}
#floatContainer{
              min-width: 900px;

      padding: 10px;
      content: "";
      clear: both;
      display: table;
      width: 100%;
}

#rightFloat{
        padding: 10px 10px 0 0;

    float:left;
    width: 25%;
}
#skills{
    padding: 16px 10px 0 0;
    float:left;
    width: 50%;
}
#leftFloat{
    min-width: 140px;
    max-width: 20%;
    float: left;
    width: 140px;
    padding: 10px;
}

.noLinkBlue{
   color: inherit;
}

#noResults{
    text-align: center;
    margin: auto;
    padding: 20px;
}

#backButton{
    background-color: lightgrey;
}